# IDE book keeping
.idea


# COBOL autogen
cobol/**/test
cobol/**/test.cob
cobol/**/ParserErrorLog.txt
cobol/**/ALLTESTS

# python
python/**/__pycache__

# Java
java/**/.gradle
java/**/build

# Rust
rust/**/target

# SQLite
sqlite/**/output.json
sqlite/**/user_output.md

# Kotlin
kotlin/**/.gradle
kotlin/**/build
